# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/ticreacttoe.sln
/.vs/ticreacttoe/FileContentIndex/3c671cf5-094f-4de3-aa1d-cd2cb7d1d16d.vsidx
/.vs/ticreacttoe/FileContentIndex/ba3f8d93-1c0e-4f59-81e7-7110aeba4f19.vsidx
