.container{
  position: relative;
  width: 400px;
  height: 400px;
}

.hidden{
  display: none;
}

.shown{ 
  display: block;
}

.tic-tac-toe{

}

.board {
  z-index: 100;
  position: absolute;
  top: 80px;
  left: 80px;
  height: auto;
  width: auto; 
  min-width: 250px;
  box-sizing: border-box;
  
}

.cell{
  border: 1px solid black;
  width: 80px;
  height: 80px;
  content: " ";
  float:left;
  justify-content: center;
  align-items: center;
  font-size: 28pt;
  color: black;
  display: flex;
}

canvas.tictactoe-board{
  /*border: 1px solid black;*/
  position: absolute;
  z-index: 1;
  top: 79px;
  left: 79px;
  min-height: 250px;
  width: 250px;
  background-color: #b6ff00;
}

.play-again{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}